.slider{
	height: 1080px;
	width: 1920px;
	overflow: hidden;
	position: relative;
}
	.slide-left{
		display: block;
		height: 50px;
		width: 50px;
		position: absolute;
		z-index: 5;
		background: yellow;
		top:500px;
		left: 0px;
	}
	.slide-right{
		display: block;
		height: 50px;
		width: 50px;
		position: absolute;
		z-index: 5;
		background: yellow;
		top: 500px;
		right: 0px;
	}
	.slider-wrapper{
		width: 5760px;
		height: 1080px;
		transition: all 1s;
	}
		.slider-wrapper img{
			display: block;
			float: left;
		}

		body{
			margin: 0px;
			padding: 0px;
		}